:root {
/* CSS HSL */
--rich-black-fogra-29: hsla(202, 100%, 4%, 1);
--rich-black-fogra-29-2: hsla(203, 100%, 5%, 1);
--rich-black-fogra-29-3: hsla(203, 100%, 6%, 1);
--prussian-blue: hsla(203, 75%, 11%, 1);
--gunmetal: hsla(203, 42%, 17%, 1);
--charcoal: hsla(203, 24%, 26%, 1);
--deep-space-sparkle: hsla(200, 15%, 35%, 1);
--slate-gray: hsla(198, 8%, 49%, 1);
--spanish-gray: hsla(203, 7%, 58%, 1);
--cadet-grey: hsla(200, 8%, 62%, 1);
--cultured: hsla(210, 10%, 96%, 1);

}
* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}
body {
    background: var(--cadet-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    width: 90vw;
    max-width: 450px;
    height: 90vh;
    /* background-image: url('./images/annie-dark-2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    border-radius: 30px;
    padding: 1% 1%;
    overflow: hidden;
    /* position: relative; */
}
main.dark-main {
    background: #020202e6;
}
main.light-main {
    background: wheat;
}
#display-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw 2vw;
    background: url('./images/black-screen-2.jpg') no-repeat;
    background-size: 100% 100%;
    opacity: 0.6;
    height: 40%;
    width: 100%;
    border-radius: 30px 30px 15px 15px;
    /* align-items: center; */
    box-shadow: inset 3px 3px 10px #00131fc7, inset -7px -8px 18px #070808bf;
}
#switch {
    /* position: absolute; */
    /* z-index: 2; */
    top: 20px;
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    column-gap: 4vw;
    border-radius: 15px;
    align-self: center;
    overflow: hidden;
}
.switch-mode {
    padding: 8%;
}
input[type="radio"] {
    display: none;
}
.dark {
    background: #324652b5;
    box-shadow: inset 4px 1px 11px var(--deep-space-sparkle), inset -2px -2px 8px var(--rich-black-fogra-29-3), 2px 2px 2px #07213180;
    color: var(--cultured);
} 
.light {
    background: hsl(0deg 37% 85%);
    box-shadow: inset 4px 1px 11px hsl(0deg 0% 72%), inset -2px -2px 8px hsl(28deg 54% 33%), 2px 2px 2px #07213185;
    color: var(--rich-black-fogra-29);
}
.buttons-div {
    display: grid;
    grid-template: repeat(5,1fr) / repeat(4,1fr);
    grid-row-gap: 6%;
    grid-column-gap: 3%;
    background-position: bottom right;
    padding: 29% 3% 10%;
    height: 60%;
    border-radius: 30px 30px 0 0;
    box-shadow: inset 0px 4px 5px -1px #8c969b57;
    position: relative;
    top: 0;
}
.buttons-div-dark {
    background: url(./images/annie-dark-2.jpg), hsl(198deg 8% 49% / 59%);
    background-blend-mode: overlay;
    background-size: 100% 128%;
}
.buttons-div-light {
    background: url(./images/cream-background.jpg), hsl(0deg 12% 41% / 71%);
    background-blend-mode: overlay;
    background-size: 100% 128%;    
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 10%;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 4px 1px 11px var(--deep-space-sparkle), inset -2px -2px 8px var(--rich-black-fogra-29-3), 2px 2px 2px #07213180;
    -moz-box-shadow: inset 4px 1px 11px var(--deep-space-sparkle), inset -2px -2px 8px var(--rich-black-fogra-29-3), 2px 2px 2px #07213180; */
}
.button input[type="reset"], .button input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    color: var(--cultured);
}
#operation-display {
    color: var(--cultured);
}
#result-display {
    color: var(--cultured);
}

